.poster{
    background-color: rgba(192, 134, 27, 0.911);
    width: 300px;
    height: auto;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    align-items: top;
    display: block;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.pe{
    height: auto;
    font-size: 14px;
   
    bottom: auto;
    width: 294px;
    display: block;
    text-align: center;
}
.foto{
    
    height: 300px;
    width: 200px;
    
}
body{
    background-image: linear-gradient( to right, red , yellow, green, cyan, blue, violet);
}
.letras2{
    margin: auto;
    width: auto;
    right: 50%;
    transform: translate(60%, -900%);
    
    
    
}
.letra{
    margin: auto;
    width: auto;
    top:auto;
    right: 50%;
    transform: translate(-50%, -1200%);
}
img{
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    max-width: 100%;
    height: 190px;
    transform: translate(30%, -300%);
}